<amexio-card-ce>
    <amexio-header-ce [background]="'linear-gradient(40deg,#2096ff,#05ffa3)'" [height]="'60px'" align="start">
        <amexio-label size="medium">
            Creative Window
        </amexio-label>
      </amexio-header-ce>
    <amexio-body-ce>
        <amexio-row>
            <amexio-column [size]="4">
                <amexio-button type="success" (onClick)=" onSideModalClick()" label="Side Modal"></amexio-button>
                <amexio-window-ce position-top="100px" [horizontal-position]="'left'" [vertical-position]="'top'" [(show)]="showSideModal" width="400px">
                    <!-- <amexio-header-ce [background]="'green'" height="45px" align="center" vertical-align="top">
                        <amexio-image width="100px" [c-class]="'card-img-center'" height="100px" [filter]="'round'" path="assets/images/profile/karsh.jpg"></amexio-image>
                    </amexio-header-ce>
                    <amexio-body-ce>
                        <br><br><br>
                        <amexio-label [size]="'large'">
                            Araf Karsh
                        </amexio-label>
                        <p>
                            Entrepreneur | Author | Speaker | Architect : UI/UX, Containers, Kubernetes, Microservices (DDD, ES / CQRS), Blockchain
                        </p>
                        <p>
                            Araf Karsh has with over 27 years of experience leading the design and development of mission-critical, object-oriented and
                            web-based applications for premier organizations including Bank of America, CIBC,
                            Johnson & Johnson, Kaiser Permanente, the U.S. Department of State, and the U.S
                        </p>

                    </amexio-body-ce>
                    <amexio-action-ce [align]="'center'" [border-top]="true">
                        <amexio-floating-button [relative]="true" [type]="'red'" [icon]="'fa fa-google-plus'">
                        </amexio-floating-button>
                        <amexio-floating-button [relative]="true" [bg-color]="'#4267b2'" [icon]="'fa fa-facebook'">
                        </amexio-floating-button>
                        <amexio-floating-button [relative]="true" [bg-color]="'#0077B5'" [icon]="'fa fa-linkedin'">
                        </amexio-floating-button>
                    </amexio-action-ce> -->
                    <amexio-card-ce align="center">
                        <amexio-header-ce [background]="'linear-gradient(40deg,#2096ff,#05ffa3)'" [height]="'75px'" align="center">
                            <amexio-image width="100px" [c-class]="'card-img-center'" height="100px" [filter]="'round'" path="assets/images/profile/karsh.jpg"></amexio-image>
                        </amexio-header-ce>
                        <amexio-body-ce [align]="'start'">
                            <amexio-label [size]="'large'">
                                Araf Karsh
                            </amexio-label>
                            <p>
                                Entrepreneur | Author | Speaker | Architect : UI/UX, Containers, Kubernetes, Microservices (DDD, ES /
                                CQRS), Blockchain
                            </p>
                            <p>
                                Araf Karsh has with over 27 years of experience leading the design and development of mission-critical,
                                object-oriented and web-based applications for premier organizations including Bank of America, CIBC,
                                Johnson & Johnson, Kaiser Permanente, the U.S.
                                Department of State, and the U.S
                            </p>
                        </amexio-body-ce>
                        <amexio-action-ce [align]="'center'" [border-top]="true">
                            <amexio-floating-button [relative]="true" [type]="'red'" [icon]="'fa fa-google-plus'">
                            </amexio-floating-button>
                            <amexio-floating-button [relative]="true" [bg-color]="'#4267b2'" [icon]="'fa fa-facebook'">
                            </amexio-floating-button>
                            <amexio-floating-button [relative]="true" [bg-color]="'#0077B5'" [icon]="'fa fa-linkedin'">
                            </amexio-floating-button>
                        </amexio-action-ce>
                    </amexio-card-ce>
                </amexio-window-ce>
                <amexio-row>
                    <amexio-column [size]="'12'">
                        <amexio-label>
                            (Horizontal (left) and Vertical (top) positioning enabled)
                        </amexio-label>
                    </amexio-column>
                </amexio-row>
            </amexio-column>
            <amexio-column size="4">
                <amexio-button type="success" (onClick)="onCenterModalClick()" label="Center Modal"></amexio-button>
                <amexio-window-ce [(show)]="showCenterModal" [horizontal-position]="'center'" [vertical-position]="'center'" width="400px"
                    align="start">
                    <amexio-header-ce align="left" vertical-align="top">
                        <amexio-layout-columns alignment="start" [orientation]="'horizontal'" [border]="false">
                            <amexio-layout-item>
                                <amexio-image width="40px" height="40px" [filter]="'round'" path="assets/images/windowce/bmw-logo.jpeg"></amexio-image>
                            </amexio-layout-item>
                            <amexio-layout-item>
                                <amexio-label size="medium-bold">BMW G 310 R</amexio-label>
                            </amexio-layout-item>
                        </amexio-layout-columns>
                    </amexio-header-ce>
                    <amexio-image height="180px" width="100%" path="assets/images/windowce/bmw.jpg"></amexio-image>
                    <amexio-body-ce>
                        <amexio-badge [absolute]="true" [background]="'#e74c3c'" [color]="'white'" [top]="'-44px'" [left]="'0px'">
                            <amexio-label>Photos</amexio-label>
                        </amexio-badge>
                        <p>
                            The G 310 R and G 310 GS are the two small-capacity motorcycles that were supposed to help BMW Motorrad garner the figures
                            for growth that it projected.The 310 twins will not be about numbers, but about
                            quality – something that BMW Motorrad is known for in markets globally.
                        </p>
                    </amexio-body-ce>
                    <amexio-action-ce>
                        <amexio-button type="success" label="More Details"></amexio-button>
                    </amexio-action-ce>
                </amexio-window-ce>
                <amexio-row>
                    <amexio-column [size]="'12'">
                        <amexio-label>
                            (Horizontal (center) and Vertical (center) positioning enabled)
                        </amexio-label>
                    </amexio-column>
                </amexio-row>
            </amexio-column>
            <amexio-column [size]="'4'">
                <amexio-button type="success" (onClick)="onloginWindowClick()" label="Login Modal"></amexio-button>
                <amexio-window-ce [(show)]="showLoginWindow" [horizontal-position]="'right'" [vertical-position]="'top'" width="350px" align="center">
                    <amexio-card-ce align="center">
                    <amexio-header-ce [background]="'linear-gradient(40deg,#40E0D0, #FF0080)'" [height]="'50px'" align="center" vertical-align="top">
                        <amexio-image width="100px" [c-class]="'card-img-center'" height="100px" [filter]="'round'" path="assets/images/profile/dipali.jpg"></amexio-image>
                    </amexio-header-ce>
                    <amexio-body-ce height="150px">
                        <br /><br /><br>
                        <amexio-label [size]="'medium'">
                            Deepali Arvind
                        </amexio-label>
                        <br><br>
                        <amexio-password-input [place-holder]="'Please enter password'" [allow-blank]="false"> </amexio-password-input>
                    </amexio-body-ce>
                    <amexio-action-ce [align]="'center'" [border-top]="true">
                        <amexio-button icon="fa fa-sign-in" [label]="'Login'" [type]="'green'" [tooltip]="'Login'">
                        </amexio-button>
                    </amexio-action-ce>
                </amexio-card-ce>
                </amexio-window-ce>
                <amexio-row>
                    <amexio-column [size]="'12'">
                        <amexio-label>
                            (Horizontal (right) and Vertical (top) positioning enabled)
                        </amexio-label>
                    </amexio-column>
                </amexio-row>
            </amexio-column>
        </amexio-row>
        <amexio-row>
            <amexio-column size="4">
                <amexio-button type="success" (onClick)="showInfoModalClick()" label="Info Modal"></amexio-button>
                <amexio-window-ce [(show)]="showInfoModal" color="white" [bg-image]="'assets/images/windowce/kashmir.jpeg'" [horizontal-position]="'left'"
                    [vertical-position]="'bottom'" [align]="'center'" width="400px">
                    <amexio-header-ce  [align]="'space-between'" icon-valign="top">
                        <amexio-label [size]="'medium-bold'">
                            John Doe
                        </amexio-label>
                        <amexio-layout-columns [orientation]="'horizontal'" [border]="false">
                            <amexio-layout-item>
                                <amexio-image [icon-class]="'fa fa-share-alt'" [tooltip]="'Fontawesome apple'"></amexio-image>
                            </amexio-layout-item>
                            <amexio-layout-item>
                                <amexio-image [icon-class]="'fa fa-heart-o'" [tooltip]="'Fontawesome apple'"></amexio-image>
                            </amexio-layout-item>
                            <amexio-layout-item>
                                <amexio-image [icon-class]="'fa fa-bookmark-o'" [tooltip]="'Fontawesome apple'"></amexio-image>
                            </amexio-layout-item>
                        </amexio-layout-columns>
                    </amexio-header-ce>
                    <amexio-body-ce>
                        <p>
                            One of the most incredible places in India, Kashmir is known for its enthralling beauty and is rightly nicknamed as the ‘Heaven
                            on Earth’. With its Picturesque lakes, striking fruit orchards, verdant meadows
                            surrounded with thick woods of pines and deodars, lush green gardens teeming
                            with vibrant flowers and captivating valleys enclosed with snow-covered peaks
                            of Himalayan and Pir-Panjal ranges – Kashmir seems to have directly made its
                            way out from a picture postcard. Revelling in the adventure of world’s highest
                            Gondola ride at Gulmarg – the magic of Kashmir with its breath-taking vistas
                            is sure to captivate your heart and soul forever.
                        </p>
                    </amexio-body-ce>
                    <amexio-action-ce>
                        <amexio-button [label]="'LIKE'" [type]="'transparent'" [tooltip]="'LIKE'">
                        </amexio-button>
                        <amexio-button [label]="'SHARE'" [type]="'transparent'" [tooltip]="'SHARE'">
                        </amexio-button>
                    </amexio-action-ce>
                </amexio-window-ce>
                <amexio-row>
                    <amexio-column [size]="'12'">
                        <amexio-label>
                            (Horizontal (left) and Vertical (bottom) positioning enabled)
                        </amexio-label>
                    </amexio-column>
                </amexio-row>
            </amexio-column>
            <amexio-column [size]="'4'">
                <amexio-button type="success" (onClick)="onFrameModalClick()" label="Frame Modal"></amexio-button>
                <amexio-window-ce [(show)]="showFrameWindow" [vertical-position]="'bottom'" width="auto" maximize="true">
                    <amexio-header-ce height="10px" vertical-align="top">
                    </amexio-header-ce>
                    <amexio-body-ce>
                        <div style="border:none;">
                            <amexio-layout-columns [fit]="true" [border]="false" [orientation]="'horizontal'" [alignment]="'space-between'">
                                <amexio-layout-item>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit nisi quo provident fugiat reprehenderit nostrum quos.
                                    </p>
                                </amexio-layout-item>
                                <amexio-layout-item>
                                    <amexio-button [label]="'Got It Now'" [type]="'primary'" [tooltip]="'Ok'">
                                    </amexio-button>
                                    <amexio-button [label]="'No,Thanks'" [type]="'secondary'" [tooltip]="'Ok'">
                                    </amexio-button>
                                </amexio-layout-item>
                            </amexio-layout-columns>
                        </div>
                    </amexio-body-ce>
                </amexio-window-ce>
                <amexio-row>
                    <amexio-column [size]="'12'">
                        <amexio-label>
                            ( Bottom Frame Model)
                        </amexio-label>
                    </amexio-column>
                </amexio-row>
            </amexio-column>
        </amexio-row>
    </amexio-body-ce>
</amexio-card-ce >