<amexio-layout-columns [border]="false" [fit]="true" [alignment]="'center'" [orientation]="'vertical'">
  <amexio-layout-item [fit]="true">
    <amexio-card-ce>
      <amexio-header-ce>
        Google Map
      </amexio-header-ce>
      <amexio-google-map [initial-zoom-level]="12" [height]="'500px'" [data]="cdata" [initial-lat]="14.72118092" [initial-lng]="121.02939606" [co-ordinates]="coordinateData" [google-map-key]="'AIzaSyDKSPX97z-ndeh_Mgq3xkaML2Kp9AwHA9s'" (onMarkerClick)="onMarkerClick($event)">
      </amexio-google-map>
    </amexio-card-ce>
  </amexio-layout-item>
</amexio-layout-columns>