TIME LINE WIP


<amexio-timeline [content-alignment]="''">
    <amexio-timeline-event [icon]="'fa fa-area-chart'" [content-border]="false">
        <amexio-card-ce>
            <amexio-header-ce [height]="'200px'" [color]="'white'" [bg-image]="'assets/images/timeline-pic/ladakh.jpg'">
                <amexio-badge [absolute]="true" [background]="'#e74c3c'" [color]="'white'" [bottom]="'0px'" [right]="'0px'">
                    <amexio-label>2017</amexio-label>
                    <amexio-label>June</amexio-label>
                </amexio-badge>
            </amexio-header-ce>

            <amexio-body-ce>
                <amexio-label size="medium-bold" style="color:rgb(2, 2, 134)">
                    Leh Ladakh
                </amexio-label>
                <label>Leh, a high-desert city in the Himalayas, is the capital of the Leh region
                    in northern India’s Jammu and Kashmir state.
                    Originally a stop for trading caravans, Leh is now known for its Buddhist sites and nearby trekking
                    areas.
                </label>
            </amexio-body-ce>
        </amexio-card-ce>
    </amexio-timeline-event>

    <amexio-timeline-event [icon]="'fa fa-snowflake-o'" [content-border]="false">
            <amexio-card-ce>
                <amexio-header-ce [height]="'200px'" [color]="'white'" [bg-image]="'assets/images/timeline-pic/kashmir.jpg'">
                    <amexio-badge [absolute]="true" [background]="'#e74c3c'" [color]="'white'" [bottom]="'0px'" [left]="'0%'">
                        <amexio-label>2018</amexio-label>
                        <amexio-label>August</amexio-label>
                    </amexio-badge>
                </amexio-header-ce>
    
                <amexio-body-ce>
                    <amexio-label size="medium-bold" style="color:rgb(2, 2, 134)">
                            Kashmir
                    </amexio-label>
                    <label >Jammu and Kashmir is a state in northern India, often denoted by its acronym, J&K. It is located mostly in the Himalayan mountains,
                         and shares borders with the states of Himachal Pradesh and Punjab to the south.
                    </label>
                </amexio-body-ce>
            </amexio-card-ce>
        </amexio-timeline-event>
    


</amexio-timeline>