 
<amexio-row>
  <amexio-column [size]="12">
    <amexio-card [footer]="false" [header]="true">
      <amexio-header>Data Grid with Template</amexio-header>
      <amexio-body>
        <amexio-datagrid [enable-checkbox]="false" title="User Activity Details" [http-method]="'get'" [http-url]="'assets/data/datagridtemplate.json'"
          [data-reader]="'response.data'" [page-size]="10" [enable-data-filter]="false">
          <amexio-data-table-column [width]="40" [data-index]="'User'" [data-type]="'string'" [hidden]="false" [text]="'USER'">
            <ng-template #amexioBodyTmpl let-column let-row="row">
              <amexio-row>
                <amexio-column [size]="3">
                  <!-- <div class=profile-image-round> -->
                  <!-- <img src="assets/images/profile/{{row.profile}}"/> -->
                  <amexio-image [path]="'assets/images/profile/'+row.profile" [c-class]="'image-round'">
                  </amexio-image>
                  <!-- </div> -->
                </amexio-column>
                <amexio-column [size]="9">
                  <amexio-label size="small">
                    {{row.User}}
                  </amexio-label>
                  <br>
                  <amexio-label size="small" font-color="grey">
                    Registered:{{row.Date}}
                  </amexio-label>
                </amexio-column>
              </amexio-row>
            </ng-template>
          </amexio-data-table-column>
          <amexio-data-table-column [width]="40" [data-index]="'Usage'" [data-type]="'string'" [hidden]="false" [text]="'USAGE'">
            <ng-template #amexioBodyTmpl let-column let-row="row">
              <span>{{row.Usage}}%</span>

              <amexio-progress-bar [current-value]="row.Usage" [infinite]="false" [type]="getGridTemplateData(row)"></amexio-progress-bar>

              <amexio-label size="small" font-color="grey">
                {{row.usageFromDate}}-{{row.usageToDate}}
              </amexio-label>

            </ng-template>
          </amexio-data-table-column>
          <amexio-data-table-column [width]="20" [data-index]="'Payment'" [data-type]="'string'" [hidden]="false" [text]="'PAYMENT'">
            <ng-template #amexioBodyTmpl let-column let-row="row">
              <span>
                <!-- <div class=profile-image-round> -->
                <!-- <img src="assets/images/{{row.Payment}}"/> -->
                <amexio-image [path]="'assets/images/'+row.Payment" [c-class]="'image-round'">
                </amexio-image>
                <!-- </div> -->
              </span>
            </ng-template>
          </amexio-data-table-column>
          <amexio-data-table-column [width]="20" [data-index]="'Activity'" [data-type]="'string'" [hidden]="false" [text]="'ACTIVITY'">
            <ng-template #amexioBodyTmpl let-column let-row="row">

              <amexio-label size="small" font-color="grey">
                Last login
              </amexio-label>
              <br>
              <amexio-label size="small">
                {{row.Activity}}
              </amexio-label>


            </ng-template>
          </amexio-data-table-column>
          <amexio-data-table-column [width]="10" [data-index]="''" [data-type]="'string'" [hidden]="false" [text]="''">
            <ng-template #amexioBodyTmpl let-column let-row="row">

              <span>
                <amexio-image style="color:grey;" [icon-class]="'fa fa-pencil fa-2x'"></amexio-image>
              </span>

            </ng-template>
          </amexio-data-table-column>
        </amexio-datagrid>
        <br>
        <amexio-datagrid [enable-checkbox]="false" title="Invoice Details" [http-method]="'get'" [http-url]="'assets/data/templategrid.json'"
          [data-reader]="'response.data'" [page-size]="10" [enable-data-filter]="false">
          <amexio-data-table-column [width]="5" [data-index]="'No'" [data-type]="'string'" [hidden]="false" [text]="'No.'">
            <ng-template #amexioBodyTmpl let-column let-row="row">
              <amexio-label size="small" font-color="grey">
                {{row.No}}
              </amexio-label>
            </ng-template>
          </amexio-data-table-column>
          <amexio-data-table-column [width]="10" [data-index]="'Invoice Subject'" [data-type]="'string'" [hidden]="false" [text]="'Invoice Subject'">
          </amexio-data-table-column>
          <amexio-data-table-column [width]="8" [data-index]="'client'" [data-type]="'string'" [hidden]="false" [text]="'Client'">

          </amexio-data-table-column>
          <amexio-data-table-column [width]="6" [data-index]="'Vat No.'" [data-type]="'string'" [hidden]="false" [text]="'Vat No.'">

          </amexio-data-table-column>
          <amexio-data-table-column [width]="8" [data-index]="'Created'" [data-type]="'string'" [hidden]="false" [text]="'Created'">

          </amexio-data-table-column>
          <amexio-data-table-column [width]="10" [data-index]="'Status'" [data-type]="'string'" [hidden]="false" [text]="'Status'">
            <ng-template #amexioBodyTmpl let-column let-row="row">
              <a class="fa fa-circle fa-lg" [ngClass]="{'green': row.Status== 'Paid' , 'yellow': row.Status =='Pending' , 'red' : row.Status=='Paid Today'}"></a>
              &nbsp;{{row.Status}}
            </ng-template>
          </amexio-data-table-column>
          <amexio-data-table-column [width]="5" [data-index]="'Price'" [data-type]="'string'" [hidden]="false" [text]="'Price'">

          </amexio-data-table-column>
          <amexio-data-table-column [width]="15" [data-index]="''" [data-type]="'string'" [hidden]="false" [text]="''">
            <ng-template #amexioBodyTmpl let-column let-row="row">
              <amexio-row>
                <amexio-column [size]="4">
                  <amexio-button [label]="'Manage'" [size]="'small'" [type]="'theme-backgroundcolor'" [tooltip]="'Manage'">
                  </amexio-button>
                </amexio-column>
                <amexio-column [size]="5">
                  <amexio-btn-dropdown [label]="'Action'" [type]="'theme-backgroundcolor'" [size]="'small'">
                    <amexio-btn-dropdown-item [label]="'Accept'">
                    </amexio-btn-dropdown-item>
                    <amexio-btn-dropdown-item [label]="'Reject'">
                    </amexio-btn-dropdown-item>
                  </amexio-btn-dropdown>
                </amexio-column>
                <amexio-column [size]="3">
                  <amexio-image style="color:grey;" [icon-class]="'fa fa-pencil fa-2x'"></amexio-image>
                </amexio-column>
              </amexio-row>
            </ng-template>
          </amexio-data-table-column>

        </amexio-datagrid>

      </amexio-body>
    </amexio-card>
  </amexio-column>
</amexio-row>
<br>
<!--List Box Template-->
<amexio-row>
  <amexio-column [size]="12">
    <amexio-card [footer]="false" [header]="true">
      <amexio-header>List Box With template</amexio-header>
      <amexio-body>
        <amexio-row>
          <amexio-column [size]="5">
            <amexio-listbox [height]="360" [data]="projectData" [filter]="false" [header]="'Project'" [enable-checkbox]="false" [data-reader]="'response.data'"
              [display-field]="'name'">
              <ng-template #amexioBodyTmpl let-row="row">
                <amexio-row>
                  <amexio-column [size]="5">
                    <amexio-label size="small">
                      {{row.name}}
                    </amexio-label>
                  </amexio-column>
                  <amexio-column [size]="3">

                  </amexio-column>
                  <amexio-column [size]="4">

                    <a [ngClass]="{'listbox-StatusYellow': row.status == 'Pending', 'listbox-StatusGreen' : row.status == 'Finished','listbox-StatusRed'  : row.status == 'Rejected'}">
                      {{row.status}}
                    </a>
                  </amexio-column>
                </amexio-row>
              </ng-template>
            </amexio-listbox>
          </amexio-column>
          <amexio-column [size]="7">
            <amexio-listbox [height]="480" [data]="browserData" [filter]="false" [header]="'Browser Stats'" [enable-checkbox]="false"
              [data-reader]="'response.data'" [display-field]="'name'">
              <ng-template #amexioBodyTmpl let-row="row">
                <amexio-row>
                  <amexio-column [size]="4">
                    <span>

                      <amexio-image [path]="'assets/images/'+row.icon" [c-class]="'image-round'">
                      </amexio-image>

                    </span>

                  </amexio-column>
                  <amexio-column [size]="6">
                    <amexio-label size="small">
                      {{row.name}}
                    </amexio-label>
                  </amexio-column>
                  <amexio-column [size]="2">
                    <amexio-label size="small" font-color="grey">
                      {{row.usage}}
                    </amexio-label>

                  </amexio-column>
                </amexio-row>
              </ng-template>
            </amexio-listbox>
          </amexio-column>
        </amexio-row>
      </amexio-body>
    </amexio-card>