<amexio-label [size]="'medium-bold'">Last Month Stats</amexio-label><br />


<amexio-layout-grid [layout]="'dashboardtwolayout'">
    <amexio-grid-item [name]="'gridheader1'">
        <amexio-card-ce>
            <amexio-header-ce [align]="'center'">
                <div style="text-align: center;">
                    <amexio-label [size]="'large-bold'">$13,245</amexio-label><br />
                    <amexio-image style="color:#fbc658" [icon-class]="'fa fa-money fa-3x'"></amexio-image>
                </div>
            </amexio-header-ce>
            <amexio-action-ce [align]="'center'" [border-top]="true">
                Revenue
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-grid-item>

    <amexio-grid-item [name]="'gridheader2'">
        <amexio-card-ce>
            <amexio-header-ce [align]="'center'">
                <div style="text-align: center;">
                    <amexio-label [size]="'large-bold'">105 PB</amexio-label><br />
                    <amexio-image style="color:#6bd098;" [icon-class]="'fa fa-database fa-3x'"></amexio-image>
                </div>
            </amexio-header-ce>
            <amexio-action-ce [align]="'center'" [border-top]="true">
                Data indexed
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-grid-item>


    <amexio-grid-item [name]="'gridheader3'">
        <amexio-card-ce>
            <amexio-header-ce [align]="'center'">
                <div style="text-align: center;">
                    <amexio-label [size]="'large-bold'">75</amexio-label><br />
                    <amexio-image style="color:red;" [icon-class]="'fa fa fa-bug fa-3x'"></amexio-image>
                </div>
            </amexio-header-ce>
            <amexio-action-ce [align]="'center'" [border-top]="true">
                Issue Fixed
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-grid-item>

    <amexio-grid-item [name]="'gridheader4'">
        <amexio-card-ce>
            <amexio-header-ce [align]="'center'">
                <div style="text-align: center;">
                    <amexio-label [size]="'large-bold'">20k</amexio-label><br />
                    <amexio-image style="color:steelblue;" [icon-class]="'fa fa-users fa-3x'"></amexio-image>
                </div>
            </amexio-header-ce>
            <amexio-action-ce [align]="'center'" [border-top]="true">
                New User added
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-grid-item>
    <br />
    <amexio-grid-item [name]="'label1'">
        <amexio-label [size]="'medium-bold'">Statistics</amexio-label>
    </amexio-grid-item>
    <amexio-grid-item [name]="'gridchart1'">
        <amexio-card-ce>
            <amexio-header-ce [align]="'space-between'" [border-bottom]="true">
                <amexio-label [size]="'medium'">$1,60,000K</amexio-label>
                <amexio-badge [background]="'green'" [color]="'white'">
                    <amexio-label size="small">+18%</amexio-label>
                </amexio-badge>
            </amexio-header-ce>
            <amexio-body-ce>
                <amexio-d3-chart-line [legend]="false" [label-color]="'white'" 
                [yaxis-interval]="5" 
                [http-method]="'get'" 
                [data-reader]="'lastTenMonthRevenue'" 
                [http-url]="'assets/jsondata/dashboardthree.json'" 
                >
                </amexio-d3-chart-line>
            </amexio-body-ce>
            <amexio-action-ce [align]="'center'" [height]="'50px'" [align]="'center'" [color]="'grey'" [border-top]="true">
                Total revenue in last 12 months
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-grid-item>

    <amexio-grid-item [name]="'gridchart2'">
        <amexio-card-ce>
            <amexio-header-ce [align]="'space-between'" [border-bottom]="true">
                <amexio-label [size]="'medium'">1.8 Million New User</amexio-label>
                <amexio-badge [background]="'red'" [color]="'white'">
                    <amexio-label size="small">-8%</amexio-label>
                </amexio-badge>
            </amexio-header-ce>
            <amexio-body-ce>
                <amexio-d3-chart-bar [legend]="false" [label-color]="'white'" 
                [yaxis-interval]="5" 
                [http-method]="'get'" 
                [data-reader]="'lastTenMonthUsers'" 
                [http-url]="'assets/jsondata/dashboardthree.json'" 
                >
                </amexio-d3-chart-bar>
            </amexio-body-ce>
            <amexio-action-ce [align]="'center'" [height]="'50px'" [align]="'center'" [color]="'grey'" [border-top]="true">
                Total New User In Last 12 Months
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-grid-item>
    <br />

    <amexio-grid-item [name]="'label2'">
        <amexio-label [size]="'medium-bold'">Global Traffic</amexio-label>

    </amexio-grid-item>
    <amexio-grid-item [name]="'gridmap'">

        <amexio-card-ce>
            <amexio-header-ce amexioColorPalette [color-palette]="'vibrant'" [gradient]="false">
                <amexio-label [size]="'medium'">Region wise</amexio-label>
            </amexio-header-ce>
            <amexio-body-ce>
                <amexio-row>
                    <amexio-column [size]=6>
                        <amexio-datagrid amexioColorPalette [color-palette]="'classic'" [gradient]="false" [page-size]="10" [data]="globalVistsData" [enable-data-filter]="false">
                            <amexio-data-table-column [data-index]="'country'" [data-type]="'string'" [hidden]="false"
                                [text]="'Country'">
                                <ng-template #amexioBodyTmpl let-column let-row="row">
                                    <amexio-label>
                                        <amexio-image [width]="100" [path]="'https://api.amexio.org/api/v5.5/assets/images/flags/flags/'+row.flag"></amexio-image>
                                    </amexio-label>
                                    <amexio-label>&nbsp;{{row.country}}</amexio-label>
                                </ng-template>
                            </amexio-data-table-column>
                            <amexio-data-table-column [data-index]="'count'" [data-type]="'number'" [text]="'Count'"></amexio-data-table-column>
                        </amexio-datagrid>
                    </amexio-column>
                    <amexio-column [size]=6>
                        <amexio-map-geo-chart [height]="'300px'" [width]="'100%'" [data]="globalVists">
                        </amexio-map-geo-chart>
                    </amexio-column>
                </amexio-row>
            </amexio-body-ce>
        </amexio-card-ce>
    </amexio-grid-item>
</amexio-layout-grid>