<div>
  <img src="assets/images/cycle.jpg" class="pic-style">
  <amexio-row>
    <!-- Nav bar  -->

    <amexio-nav [enable-side-nav-position]="false" class="ok" [title]="'Amexio'" [logo]="'assets/images/amexio-logo.png'">


      <amexio-nav-item position-right [type]="'link'" [icon]="'fa fa-address-card'" [title]="'Register'">
      </amexio-nav-item>
      <amexio-nav-item position-right [type]="'link'" [icon]="'fa fa-hand-o-right'" [title]="'Login'">
      </amexio-nav-item>
    </amexio-nav>

    <amexio-column size="12" style="padding-top:6%">

      <amexio-layout-columns class="horizontal-position" [orientation]="'horizontal'" [border]="false" [alignment]="'center'">
        <amexio-layout-item>

          <amexio-layout-columns [fit]="true" [border]="false" [orientation]="'vertical'" [alignment]="'center'">
            <amexio-layout-item>

              <div class="main-class">
                <amexio-row>
                  <amexio-column size="12" [fit]="true">
                    <amexio-card>
                      <amexio-body>
                        <h3 class="login">Login</h3>
                        <amexio-row>
                          <amexio-column [size]="12">
                            <amexio-text-input [field-label]="'Name'" [place-holder]="'First Name...'" [enable-popover]="true"
                              [icon-feedback]="true" [allow-blank]="false" [error-msg]="'Please enter name'"
                              [min-length]="3" [max-length]="15" [min-error-msg]="'Name should be minimum 3 characters'"
                              [max-error-msg]="'Name should be less than 15 characters'">
                            </amexio-text-input>
                          </amexio-column>
                          <amexio-column [size]="12">
                            <amexio-password-input [enable-popover]="true" [field-label]="'Password'" name="password"
                              [place-holder]="'Enter Password'" [allow-blank]="false" [error-msg]="'Please enter password'"
                              [min-length]="6" [min-error-msg]="'Minimum 6 char required'" [max-length]="32"
                              [max-error-msg]="'Maximum 32 char allowed'" [icon-feedback]="true">
                            </amexio-password-input>
                          </amexio-column>
                          <amexio-checkbox [field-label]="'Subscribe to newsletter'">
                          </amexio-checkbox>

                        </amexio-row>
                        <br>
                        <amexio-row>
                          <amexio-column size="12">
                            <amexio-button [label]="'Get Started'" [type]="'yellow'" [tooltip]="'Get Started'" [block]="true"
                              (onClick)="onLoginBtnClick()">
                            </amexio-button>
                            <br>
                            <amexio-layout-columns [border]="false" [fit]="true" [alignment]="'space-between'"
                              [orientation]="'horizontal'">
                              <amexio-layout-item>
                                <amexio-login-social [style-type]="'circle'" [api-key]="'743009515877-3rfp9u0b2iq95m2o2921kc3hecaamc3e.apps.googleusercontent.com'"
                                  [type]="'google'">
                                </amexio-login-social>
                              </amexio-layout-item>
                              <amexio-layout-item>
                                <amexio-login-social [style-type]="'circle'" [api-key]="'320512778592240'" [type]="'facebook'">
                                </amexio-login-social>
                              </amexio-layout-item>
                              <amexio-layout-item>
                                <amexio-login-social [style-type]="'circle'" [api-key]="'81wzvqnx8wtvmg'" [type]="'linkedin'">
                                </amexio-login-social>
                              </amexio-layout-item>
                            </amexio-layout-columns>

                          </amexio-column>

                        </amexio-row>
                      </amexio-body>

                    </amexio-card>

                  </amexio-column>

                </amexio-row>
              </div>

            </amexio-layout-item>
          </amexio-layout-columns>
        </amexio-layout-item>
      </amexio-layout-columns>



    </amexio-column>
  </amexio-row>

</div>