<amexio-row>
    <amexio-column size="12" [fit]="true">
        <amexio-row>
            <amexio-column size="4">
                <amexio-card-ce>
                    <amexio-header-ce [align]="'space-between'">
                        <amexio-label size="medium-bold">City Traffic</amexio-label>
                        <amexio-label size="medium">70%</amexio-label>
                    </amexio-header-ce>
                    <amexio-body-ce>
                        <amexio-progress-bar [current-value]="'70'" [infinite]="false" [amexio-color]="'amexio-red'">
                        </amexio-progress-bar>
                    </amexio-body-ce>
                </amexio-card-ce>
            </amexio-column>
            <amexio-column size="4">
                <amexio-card-ce>
                    <amexio-header-ce [align]="'space-between'">
                        <amexio-label size="medium-bold">Energy Consumtion</amexio-label>
                        <amexio-label size="medium">60%</amexio-label>
                    </amexio-header-ce>
                    <amexio-body-ce>
                        <amexio-progress-bar [current-value]="'60'" [infinite]="false" [amexio-color]="'amexio-green'">
                        </amexio-progress-bar>
                    </amexio-body-ce>
                </amexio-card-ce>
            </amexio-column>
            <amexio-column size="4">
                <amexio-card-ce>
                    <amexio-header-ce [align]="'space-between'">
                        <amexio-label size="medium-bold">Pollution</amexio-label>
                        <amexio-label size="medium">55%</amexio-label>
                    </amexio-header-ce>
                    <amexio-body-ce>
                        <amexio-progress-bar [current-value]="'60'" [infinite]="false" [amexio-color]="'amexio-yellow'">
                        </amexio-progress-bar>
                    </amexio-body-ce>
                </amexio-card-ce>
            </amexio-column>
        </amexio-row>

        <br />

        <amexio-row>
            <amexio-column [size]="4" [fit]="true">
                <amexio-card-ce>
                    <amexio-header-ce [align]="'space-between'">
                        <div style="padding-top:7%;">
                            <amexio-label size="medium-bold">London</amexio-label> <br />
                            <span>Dec 25th, 2018</span>
                        </div>
                        <amexio-image style="color: #ff9900; padding-top:7%;" [icon-class]="'fa fa-sun-o fa-4x'">
                        </amexio-image>

                    </amexio-header-ce>
                    <amexio-body-ce [align]="'center'">
                        <table class="temperature">
                            <tr>
                                <td><b>Max</b><br />24</td>
                                <td><b>Min</b><br />14</td>
                                <td><b>Wind</b><br />4km/h</td>
                                <td><b>Hum</b><br />24%</td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <hr />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <amexio-label size="medium-bold">SUN</amexio-label>
                                </td>
                                <td>
                                    <amexio-label size="medium-bold">MON</amexio-label>
                                </td>
                                <td>
                                    <amexio-label size="medium-bold">TUE</amexio-label>
                                </td>
                                <td>
                                    <amexio-label size="medium-bold">WED</amexio-label>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <amexio-image [icon-class]="'fa fa-sun-o fa-2x'"></amexio-image> <br /> 20
                                </td>
                                <td>
                                    <amexio-image [icon-class]="'fa fa-sun-o fa-2x'"></amexio-image> <br /> 20
                                </td>
                                <td>
                                    <amexio-image [icon-class]="'fa fa-cloud fa-2x'"></amexio-image> <br /> 10
                                </td>
                                <td>
                                    <amexio-image [icon-class]="'fa fa-cloud fa-2x'"></amexio-image> <br /> 10
                                </td>
                            </tr>
                        </table>
                    </amexio-body-ce>
                </amexio-card-ce>

            </amexio-column>
            <amexio-column [size]="8" [fit]="true">
                <amexio-card-ce>
                    <amexio-header-ce>
                        <amexio-label size="medium-bold">Day Temperature </amexio-label>
                    </amexio-header-ce>
                    <amexio-d3-chart-multiarea [data]="tempData" [label]="false" [legend]="false">
                    </amexio-d3-chart-multiarea>
                </amexio-card-ce>
            </amexio-column>
        </amexio-row>
    </amexio-column>
    <amexio-column size="12">
        <amexio-card-ce>
            <amexio-header-ce>
                <amexio-label size="medium-bold">Security Cameras</amexio-label>
            </amexio-header-ce>
            <div class="image-style">
                <amexio-layout-columns [fit]="true" [orientation]="'horizontal'" [border]="false" [alignment]="'start'">
                    <amexio-layout-item>
                        <amexio-image [filter]="'normal'" [overlay-effect]="'slide-left'" [overlay-text]="'Market City #1'"
                            [image-title]="'Camera #1'" [title-position]="'bottom-left'" path="assets/images/city1.jpg"></amexio-image>
                    </amexio-layout-item>
                </amexio-layout-columns>
                <amexio-layout-columns [fit]="true" [orientation]="'horizontal'" [border]="false" [alignment]="'end'">
                    <amexio-layout-item>
                        <amexio-image [filter]="'normal'" [overlay-effect]="'slide-right'" [overlay-text]="'Golden City #2'"
                            [image-title]="'Camera #2'" [title-position]="'bottom-left'" path="assets/images/city5.jpg"></amexio-image>
                    </amexio-layout-item>
                </amexio-layout-columns>



            </div>

            <div class="image-style">

                <amexio-image [filter]="'normal'" [overlay-effect]="'slide-left'" [overlay-text]="'Pink City #3'"
                    [image-title]="'Camera #3'" [title-position]="'bottom-left'" path="assets/images/city7.jpeg">
                </amexio-image>
                <amexio-image [filter]="'normal'" [overlay-effect]="'slide-left'" [overlay-text]="'Light City #4'"
                    [image-title]="'Camera #4'" [title-position]="'bottom-left'" path="assets/images/city2.jpg">
                </amexio-image>

                <amexio-image [filter]="'normal'" [overlay-effect]="'slide-right'" [overlay-text]="'Wonder City #5'"
                    [image-title]="'Camera #5'" [title-position]="'bottom-left'" path="assets/images/city3.jpg">
                </amexio-image>

                <amexio-image [filter]="'normal'" [overlay-effect]="'slide-right'" [overlay-text]="'Electronic City #6'"
                    [image-title]="'Camera #6'" [title-position]="'bottom-left'" path="assets/images/city6.jpeg">
                </amexio-image>

            </div>
            <amexio-action-ce [align]="'space-between'">
                <amexio-image [icon-class]="'fa fa-pause fa-2x'" [tooltip]="'pause'"></amexio-image>
                <amexio-image [icon-class]="'fa fa-list fa-2x'" [tooltip]="'Fontawesome bitcoin'"></amexio-image>
                <amexio-image [icon-class]="'fa fa-search fa-2x'" [tooltip]="'Fontawesome facebook'"></amexio-image>
                <amexio-image [icon-class]="'fa fa-cog fa-2x'" [tooltip]="'Fontawesome github'"></amexio-image>

            </amexio-action-ce>
        </amexio-card-ce>

    </amexio-column>
</amexio-row>