<amexio-row>
    <amexio-column [size]=3>
        <amexio-card-ce [style-type]="'narrower-header'">
            <amexio-header-ce [background]="'linear-gradient(60deg,#26c6da,#00acc1)'" [align]="'space-between'">
                <amexio-image [icon-class]="'fa fa-usd fa-3x'"></amexio-image>
                <div style="text-align: center;">
                    <amexio-label [size]="'large-bold'">$34,245</amexio-label><br />
                    <amexio-label [size]="'medium'">Revenue</amexio-label>
                </div>
            </amexio-header-ce>
            <amexio-body-ce></amexio-body-ce>
            <amexio-action-ce [height]="'50px'" [align]="'center'" [color]="'grey'" [border-top]="true">

                <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'horizontal'">
                    <amexio-layout-item>
                        <amexio-image [icon-class]="'fa fa-calendar-o'" [tooltip]="'UP'"></amexio-image>
                    </amexio-layout-item>
                    <amexio-layout-item>
                        Last Month
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-column>
    <amexio-column [size]=3>
        <amexio-card-ce [style-type]="'narrower-header'">
            <amexio-header-ce [background]="'linear-gradient(60deg,#ef5350,#e53935)'" [align]="'space-between'">
                <amexio-image [icon-class]="'fa fa-database fa-3x'"></amexio-image>
                <div style="text-align: center;">
                    <amexio-label [size]="'large-bold'">105 PB</amexio-label><br />
                    <amexio-label [size]="'medium'">Data Indexed</amexio-label>
                </div>
            </amexio-header-ce>
            <amexio-body-ce></amexio-body-ce>
            <amexio-action-ce [height]="'50px'" [align]="'center'" [border-top]="true">

                <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'horizontal'">
                    <amexio-layout-item style="color:rgb(226, 49, 43)">
                        <amexio-image [icon-class]="'fa fa-exclamation-triangle'" [tooltip]="'UP'"></amexio-image>
                    </amexio-layout-item>
                    <amexio-layout-item style="color:blueviolet">
                        Get More Space...
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-column>

    <amexio-column [size]=3>
        <amexio-card-ce [style-type]="'narrower-header'">
            <amexio-header-ce [background]="'linear-gradient(60deg,#ffa726,#fb8c00)'" [align]="'space-between'">
                <amexio-image [icon-class]="'fa fa fa-bug fa-3x'"></amexio-image>
                <div style="text-align: center;">
                    <amexio-label [size]="'large-bold'">75</amexio-label><br />
                    <amexio-label [size]="'medium'">Open Issues</amexio-label>
                </div>
            </amexio-header-ce>
            <amexio-body-ce></amexio-body-ce>
            <amexio-action-ce [height]="'50px'" [color]="'grey'" [align]="'center'" [border-top]="true">

                <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'horizontal'">
                    <amexio-layout-item>
                        <amexio-image [icon-class]="'fa fa-link'" [tooltip]="'UP'"></amexio-image>
                    </amexio-layout-item>
                    <amexio-layout-item>
                        Tracked from Github
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-column>
    <amexio-column [size]=3>
        <amexio-card-ce [style-type]="'narrower-header'">
            <amexio-header-ce [background]="'linear-gradient(60deg,#66bb6a,#43a047)'" [align]="'space-between'">
                <amexio-image [icon-class]="'fa fa-users fa-3x'"></amexio-image>
                <div style="text-align: center;">
                    <amexio-label [size]="'large-bold'">20k</amexio-label><br />
                    <amexio-label [size]="'medium'">New User</amexio-label>
                </div>
            </amexio-header-ce>
            <amexio-body-ce></amexio-body-ce>
            <amexio-action-ce [height]="'50px'" [color]="'grey'" [align]="'center'" [border-top]="true">

                <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'horizontal'">
                    <amexio-layout-item>
                        <amexio-image [icon-class]="'fa fa-calendar-o'" [tooltip]="'UP'"></amexio-image>
                    </amexio-layout-item>
                    <amexio-layout-item>
                        Last Month
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-column>

</amexio-row>
<br /><br />
<amexio-row>
    <amexio-column size="4" [fit]="true">
        <amexio-card-ce [style-type]="'narrower-header'">
            <amexio-header-ce [background]="'linear-gradient(60deg,#26c6da,#00acc1)'">
                <div style="display: block; width: 100%;">
                    <amexio-d3-chart-line [legend]="false" [label-color]="'white'" [yaxis-interval]="5" [data]="lineChartData">
                    </amexio-d3-chart-line>
                </div>
            </amexio-header-ce>
            <amexio-body-ce>
                <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'vertical'">
                    <amexio-layout-item [fit]="true">
                        <amexio-label [size]="'medium-bold'">Daily Traffic</amexio-label>
                    </amexio-layout-item>
                    <amexio-layout-item style="color: green;">
                        <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'horizontal'">
                            <amexio-layout-item>
                                <amexio-image [icon-class]="'fa fa-long-arrow-up'" [tooltip]="'UP'"></amexio-image>
                            </amexio-layout-item>
                            <amexio-layout-item>
                                15% Increase in todays traffic
                            </amexio-layout-item>
                        </amexio-layout-columns>
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-body-ce>
            <amexio-action-ce [border-top]="true" [align]="'start'" [color]="'grey'">
                <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'horizontal'">
                    <amexio-layout-item>
                        <amexio-image [icon-class]="'fa fa-refresh'" [tooltip]="'UP'"></amexio-image>
                    </amexio-layout-item>
                    <amexio-layout-item>
                        Updated 30 minutes ago
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-column>
    <amexio-column size="4" [fit]="true">
        <amexio-card-ce [style-type]="'narrower-header'">
            <amexio-header-ce [background]="'linear-gradient(60deg,#ef5350,#e53935)'">
                <div style="display: block; width: 100%;">
                    <amexio-d3-chart-bar [data]="cityPopulationData" [horizontal-scale]="false" [label-color]="'white'"
                        [label]="false" [legend]="false">
                    </amexio-d3-chart-bar>
                </div>
            </amexio-header-ce>
            <amexio-body-ce>
                <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'vertical'">
                    <amexio-layout-item [fit]="true">
                        <amexio-label [size]="'medium-bold'">Quarterwise Traffic</amexio-label>
                    </amexio-layout-item>
                    <amexio-layout-item>
                        Quarterwise Traffic for 2018
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-body-ce>
            <amexio-action-ce [border-top]="true" [align]="'start'" [color]="'grey'">
                <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'horizontal'">
                    <amexio-layout-item>
                        <amexio-image [icon-class]="'fa fa-refresh'" [tooltip]="'UP'"></amexio-image>
                    </amexio-layout-item>
                    <amexio-layout-item>
                        Updated 10 minutes ago
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-column>
    <amexio-column size="4" [fit]="true">
        <amexio-card-ce [style-type]="'narrower-header'">
            <amexio-header-ce [background]="'linear-gradient(60deg,#66bb6a,#43a047)'">
                <div style="display: block; width: 100%;">
                    <amexio-d3-chart-bar [data]="lastThreeYearsData" [horizontal-scale]="false" [label-color]="'white'"
                        [label]="false" [legend]="false">
                    </amexio-d3-chart-bar>
                </div>
            </amexio-header-ce>
            <amexio-body-ce>
                <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'vertical'">
                    <amexio-layout-item [fit]="true">
                        <amexio-label [size]="'medium-bold'">Last Four Weeks Traffic</amexio-label>
                    </amexio-layout-item>
                    <amexio-layout-item>
                        Jan 2018
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-body-ce>
            <amexio-action-ce [border-top]="true" [align]="'start'" [color]="'grey'">
                <amexio-layout-columns [border]="false" [fit]="true" [orientation]="'horizontal'">
                    <amexio-layout-item>
                        <amexio-image [icon-class]="'fa fa-refresh'" [tooltip]="'UP'"></amexio-image>
                    </amexio-layout-item>
                    <amexio-layout-item>
                        Updated 3 minutes ago
                    </amexio-layout-item>
                </amexio-layout-columns>
            </amexio-action-ce>
        </amexio-card-ce>
    </amexio-column>
</amexio-row>
<br /><br /><br />


<amexio-row>
    <amexio-column size="6" [fit]="true">
        <amexio-card-ce [style-type]="'narrower-header'">
            <amexio-header-ce [background]="'linear-gradient(60deg,#ffa726,#fb8c00)'">
                <div>
                    <amexio-label [size]="'medium'">
                        Employee Stats
                    </amexio-label> <br />
                    <label>
                        New employees on 15th Jan, 2019
                    </label>
                </div>
            </amexio-header-ce>
            <amexio-body-ce>
                <amexio-datagrid [page-size]="10" [data-reader]="'data'" [http-url]="'assets/jsondata/datagrid.json'"
                    [http-method]="'get'" [enable-data-filter]="false">
                    <amexio-data-table-column [width]="'6'" [data-index]="'id'" [data-type]="'string'" [hidden]="false"
                        [text]="'ID'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [width]="'9'" [data-index]="'name'" [data-type]="'string'" [hidden]="false"
                        [text]="'Name'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [width]="'7'" [data-index]="'salary'" [data-type]="'number'" [hidden]="false"
                        [text]="'Salary'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [width]="'9'" [data-index]="'country'" [data-type]="'string'" [hidden]="false"
                        [text]="'Country'">
                    </amexio-data-table-column>
                    <amexio-data-table-column [width]="'10'" [data-index]="'city'" [data-type]="'string'" [hidden]="false"
                        [text]="'City'">
                    </amexio-data-table-column>
                </amexio-datagrid>
            </amexio-body-ce>
        </amexio-card-ce>
    </amexio-column>

    <amexio-column size="6" [fit]="true">
        <amexio-card-ce [style-type]="'narrower-header'">
            <amexio-header-ce [background]="'linear-gradient(60deg,#66bb6a,#43a047)'">
                <div>
                    <amexio-label [size]="'medium'">
                        Tasks
                    </amexio-label><br />
                    <label>
                        User Assigned Task
                    </label>
                </div>
            </amexio-header-ce>

            <amexio-body-ce>


                <amexio-datagrid [http-url]="'assets/jsondata/listbox.json'" [http-method]="'get'" [data-reader]="'data'">

                    <amexio-data-table-column [sort]="false" [data-index]="'name'" [text]="'Description'" [data-type]="'string'"
                        [hidden]="false">
                    </amexio-data-table-column>

                    <amexio-data-table-column [sort]="false" [width]="'10'" [data-index]="'edit'" [data-type]="'string'"
                        [hidden]="false">
                        <ng-template #amexioBodyTmpl let-column let-row="row">
                            <amexio-image style="color:grey;" [icon-class]="'fa fa-edit  fa-2x'"></amexio-image>
                        </ng-template>
                    </amexio-data-table-column>

                </amexio-datagrid>


            </amexio-body-ce>

        </amexio-card-ce>


    </amexio-column>



</amexio-row>