/* You can add global styles to this file, and also import other style files */

.image-top-center{
    margin-top: -25px;
    width: 50%;
}

.card-container-narrower-header amexio-header-ce {
    margin-top: -20px;
    border-radius : 10px;
}
 
.card-container-header, .card-container-narrower-header, .amexio-badge{
    border-radius: 10px;
}


.card-container-ce {
    border-radius: 10px;
}

.datatable .datatable-header{
    background-color: unset;
    color: rgb(255, 75, 31);
}

.sidenav .activenode{
    background-color: unset;
    color: #ff7c6b;
}

.sidenav .defaultnode:hover{
    background-color: unset;
    color: #ff7c6b;
}


.sidenav .headernode:hover {
    background-color: unset;
    color:  #ff7c6b; 
}
  

dashboard-three .datatable-height, .datatable-header, .datatable{
    box-shadow: unset;
}